:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
/*HEADER*/
header {
    background-color: #212529;
    font-size: 2rem;
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 5.5rem;
    padding-top: 0.3rem;   
}
header a {
    text-decoration: none;
    color:#fff;
}
.icono-album a {
    margin-left: 12rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
#icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.2rem;
}
.navegacion {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 12rem;
    padding-top: 0.3rem;
    width: 5.5rem;
    height: 4rem;
    border: 0.1rem #6c757d solid;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
/*.navegacion ul {
    list-style: none;
}*/
#icon2 {
    color:#6c757d;
    width: 3rem;
    height: 3rem;
}
/*.navegacion a {
    text-decoration: underline;
}*/
/*MAIN TEXTO*/
.parrafo1 {
    width: 50%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;       
}
.parrafo1 h1 {
    color: #212529;
    font-size: 4rem;
    font-weight: 300;
}
.parrafo2 {
    color: #6c757d;
    max-width: 52rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;  
    font-weight: 300; 
    text-align: center; 
}
.botones {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
}
.botones a {
    text-decoration: none;
    padding: .8rem;
    color: #fff; 
    font-weight: 400;
    width: 15rem;
    border-radius: 0.3rem; 
    margin: .3rem;
    font-size: 1.5rem;
    font-family: var(--font-family);
}
.boton1 {
    background-color: #0d6efd;
    border: 1px dotted;
    border-color: #0d6efd;
}
.boton1:hover {
    background-color:#0253ce;
}
.boton2 {
    background-color: #6c757d;
    border: 1px dotted;
    border-color: #6c757d;
}
.boton2:hover {
    background-color:#5e6870;
}
/*MAIN CAJAS*/
.container {
    margin: 0 auto;
    padding: 0;
    background-color: #F8F9FA;
}
.cajas {
    font-family: var(--font-family);
    font-size: 1.6rem;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: space-around;
    max-width: 1500px;
    box-shadow: inset;
    margin-top: 9rem;
    padding: 4rem;
}
.cajas div {
    margin: 1rem 1rem;
    color: #fff;
    height: 40rem;
    width: 35rem;   
}
div .caja1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div .titulo {
    background-color: #55595c;
    width: 35rem;
    height: 22.5rem;
    border-radius: 0.25rem;
    margin: auto;
}
div title {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    line-height: 22.5rem;
}
div .cajainterna {
    margin: auto;
    width: 35rem;
    height: 10.3rem;
    background-color: #fff;
}
.cajainterna p {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color:#212529;
    padding: 2rem;
    text-align:left;
}
div .botones2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-between;
    font-family: var(--font-family);
    margin: 0;
    /*padding: 2rem;*/
    width: 35rem;
    height: 5rem;
    background-color: #fff;
}
.botones2 button {
    border: #6c757d 0.1rem solid;
    background-color: #fff;
    color: #6c757d;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.4rem;
    width: 5rem;
    height: 3rem;
}
.botones2 button:hover {
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
}
.botones2 .view {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 1.5rem;
    width: 10rem;
    height: 3rem;
}
.botones2 small {  
    font-size: 1.4rem;  
}
.botones2 .small {
    color: #6c757d;
    margin: 0 1.5rem;
    width: 5rem;
    height: 3rem;
}
/*FOOTER*/
footer div{
    width: 100%;
    height: auto;
    padding: 3rem 7rem;
    margin: auto;
    background-color: #fff;
    font-family: var(--font-family);
    color: #6c757d;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
footer a {
    color: #0d6efd;
}
.footer1 {
    width: 70%;
    flex-direction: column;
    
}
.footer2 {
    width: 30%;
    margin: 0;
    justify-content: right;
}

@media (min-width: 800px) {
    
    .cajas {
        margin-left: auto;
        margin-right: auto;
        column-count: 3;
    }

}